<div class="newData">
    {{#each vendor}}
    <div class="card">
        {{Vendor}}
        <br> {{Address}}
        <br> {{City}}
        <br>
        <button>see crop data</button>
    </div>
    {{/each}}

</div>