<!DOCTYPE html>

<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>


    {{!-- jQuery CDN --}}
    <script src="https://code.jquery.com/jquery-3.3.1.js" integrity="sha256-2Kok7MbOyxpgUVvAk/HJ2jigOSYS2auK4Pfzbm7uH60=" crossorigin="anonymous"></script> {{!-- Linked materialize to use SASS for new tech requirements --}}
    <!-- Compiled and minified CSS -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0-beta/css/materialize.min.css">

    <!-- Compiled and minified JavaScript -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0-beta/js/materialize.min.js"></script> {{!-- link for materialize icons --}}
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <!-- Firebase -->
    <script src="https://www.gstatic.com/firebasejs/4.13.0/firebase.js"></script>
    <!-- CSS -->
    <link rel="stylesheet" href="/css/styles.css" media="screen" title="no title">
    <link rel="stylesheet" href="/css/farmerStyles.css" media="screen" title="no title">
    <link rel="stylesheet" href="/css/farmerEditStyles.css" media="screen" title="no title">
    <link rel="stylesheet" href="/css/sassStyles.css" media="screen" title="no title">
    <link rel="stylesheet" href="/css/main.css" media="screen" title="no title">
    <script crossorigin src="https://unpkg.com/react@16/umd/react.development.js"></script>
    <script crossorigin src="https://unpkg.com/react-dom@16/umd/react-dom.development.js"></script>
    <script src="/js/react-loading-button.js"></script> {{!-- Google Fonts --}}
    <link href="https://fonts.googleapis.com/css?family=Cabin+Sketch" rel="stylesheet">

</head>

<body>
    <div class="navbar-fixed">
        <nav class="nav-extended hoverable">
            <div class="nav-wrapper container">

                <a href="/" class="brand-logo header-font sizing">
                    <div id="react"></div>
                </a>
                <a href="#" data-target="mobile-demo" class="sidenav-trigger">
                    <i class="material-icons">menu</i>
                </a>

                <ul id="nav-mobile" class="right hide-on-med-and-down header-font">
                    <li>

                    </li>
                    <li>
                        <a class="buyer" href="/buyer">Buyer Profile</a>
                    </li>
                    <li>
                        <a class="vendor" href="/vendor">Vendor Profile</a>
                    </li>
                    <li>
                        <a href="/buyer/search">Search</a>
                    </li>
                    <li>
                        <a class="manage" href="/vendor/manageproducts">Manage Products</a>
                    </li>
                    <li>
                        <a class='modal-trigger login' href="#modal1">Login / Sign up</a>
                    </li>
                    <li>
                        <a href="/buyer" class='image-div'>
                            <img id="img-circle" src="/images/man1.png">
                        </a>
                    </li>
                    <li>
                        <a href="#" class="logoutBtn">Logout</a>
                    </li>
                </ul>
            </div>
        </nav>
    </div>

    <ul class="sidenav header-font" id="mobile-demo">

        <li>
            <a href="/buyer">Buyer Profile</a>
        </li>
        <li>
            <a href="/vendor">Vendor Profile</a>
        </li>
        <li>
            <a href="/buyer/search">Search</a>
        </li>
        <li>
            <a href="/vendor/manageproducts">Manage Products</a>
        </li>
        <li>
            <a class='modal-trigger login' href="#modal1">Login / Sign up</a>
        </li>
        <li>
            <a href="#" class="logoutBtn">Logout</a>
        </li>
    </ul>

    <!-- Login Modal-->
    <div id="modal1" class="modal fade">
        <form class="login-form">
            <div class="row">
                <div class="input-field col s12 center">
                    <p class="center login-form-text header-font">Login Or Create An Account</p>
                </div>
            </div>

            <div class="row">
                <div class="col s2">
                    <i class="medium material-icons" style='color:steelblue;'>person_outline</i>
                </div>

                <div class="input-field col s9">
                    <input id="modal-email" type="text">
                    <label for="modal-email" class="center-align">Email</label>
                </div>
            </div>

            <div class="row">
                <div class="col s2">
                    <i class="medium material-icons" style='color:steelblue;'>enhanced_encryption</i>
                </div>

                <div class="input-field col s9">
                    <input id="modal-password" type="password">
                    <label for="modal-password">Password</label>
                </div>

            </div>

            <div class="row">
                <div class="input-field col s12 center-align">
                    <a href="#" class="btn waves-effect waves-light loginBtn" style='background-color:steelblue;'>Login</a>
                </div>
            </div>
            <div class="row">
                <div class="input-field col s6 m6 l6">
                    <p class="medium">
                        <a href="/signup">Register Now!</a>
                    </p>
                </div>
            </div>
        </form>

    </div>


    {{{ body }}}



    <footer class="page-footer">
        <div class="container">
            <div class="row">
                <div class="col l6 s12">
                    <h5 class="white-text">Footer Content</h5>
                    <p class="grey-text text-lighten-4">You can use rows and columns here to organize your footer content.</p>
                </div>
            </div>
        </div>
        <div class="footer-copyright">
            <div class="container">
                © 2018 Roe4
                <a class="grey-text text-lighten-4 right" href="https://www.freepik.com/free-vector/eco-logos-template_1093618.htm">Freepik Logos</a>
            </div>
        </div>
    </footer>
            



    <script>
        ReactDOM.render(React.createElement(Icon), document.getElementById('react')); 
    </script>


    
    <script>
    // Initialize Firebase
    const config = {
        apiKey: "AIzaSyCpN-SRkG3HrYkJgClTHwJKu6k4_KYx4So",
        authDomain: "nc-vfm.firebaseapp.com",
        databaseURL: "https://nc-vfm.firebaseio.com",
        projectId: "nc-vfm",
        storageBucket: "nc-vfm.appspot.com",
        messagingSenderId: "987355521805"
    };
    firebase.initializeApp(config);

    $(document).ready( () => {
        // log-out button
        $('.logoutBtn').on('click', e => {
            firebase.auth().signOut();
            console.log('logout');
        });


        // Add log-in event
        $('.loginBtn').on('click', e => {
            // get email and pass
            let email = $('#modal-email').val().trim();
            let pass = $('#modal-password').val().trim();

            // validate email and password aren't blank
            validateForm = () => {
                let isValid = true;
                if (email === '' || pass === '') {
                    // alert user to fill out txt inputs with alert div
                    alert('Email and Password must be filled out');
                    isValid = false;
                }
                return isValid;
            };
            if(!validateForm()) {
                return;
            };
            
            // sign-in
            const promise = firebase.auth().signInWithEmailAndPassword(email, pass);
            // promise.catch(e => console.log(e.message));
            promise.catch(function(event) {
                console.log(event.message);
            });            
        });

        // add realtime listener to check if a user is logged in
        // find conditional to see if logged in or not
        firebase.auth().onAuthStateChanged(firebaseUser => {
            if(firebaseUser) {
                let userId = firebase.auth().currentUser.uid;
                firebase.database().ref('users/' + userId).once('value', snap => {
                    let vendor = snap.val().vendor;
                    if(vendor === "true") {
                        $('.vendor').show();
                        $('.manage').show();
                        $('.buyer').hide();
                    } else if (vendor === "false"){
                        $('.vendor').hide();
                        $('.manage').hide();
                        $('.buyer').show();
                    };
                });

                console.log(firebase.auth().currentUser.email, ' is currently logged in.');
                $('.logoutBtn').show();
                $('.login').hide();
                firebase.storage().ref('profile_photo/' + firebase.auth().currentUser.uid).getDownloadURL().then(function(url) {
                    console.log(url);            
                    // insert url into image src
                    let img = document.getElementById('img-circle');
                    img.src = url;
                })
                .catch(err => {
                    // Handle any errors
                    console.log('Error: ', err);
                });
            } else {
                console.log('Not logged in.');
                $('.manage').hide();
                $('.vendor').hide();
                $('.buyer').hide();
                $('.logoutBtn').hide();
                $('.login').show();
                let img = document.getElementById('img-circle');
                img.src = "/images/man1.png";
            };
            $('#modal1').modal('close');
        });
    })
    </script>

</body>

<script>
    // Initializing modal
    $(document).ready(function () {
        $('#modal1').modal();
        $('.parallax').parallax();
    });
</script>


</html>