<!DOCTYPE html>

<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>

    {{!-- jQuery CDN --}}
    <script src="https://code.jquery.com/jquery-3.3.1.js" integrity="sha256-2Kok7MbOyxpgUVvAk/HJ2jigOSYS2auK4Pfzbm7uH60=" crossorigin="anonymous"></script> {{!-- Linked materialize to use SASS for new tech requirements --}}
    <!-- Compiled and minified CSS -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0-beta/css/materialize.min.css">

    <!-- Compiled and minified JavaScript -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0-beta/js/materialize.min.js"></script> {{!-- link for materialize icons --}}
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <!-- CSS -->
    <link rel="stylesheet" href="../css/styles.css" media="screen" title="no title">
    <link rel="stylesheet" href="../css/farmerStyles.css" media="screen" title="no title">
    <link rel="stylesheet" href="../css/farmerEditStyles.css" media="screen" title="no title">
    <link rel="stylesheet" href="../css/sassStyles.css" media="screen" title="no title">

</head>

<body>
    <nav class="nav-extended hoverable">
        <div class="nav-wrapper container">
            <a href="/" class="brand-logo header-font sizing">Home</a>
            <a href="#" data-target="mobile-demo" class="sidenav-trigger">
                <i class="material-icons">menu</i>
            </a>
            <ul id="nav-mobile" class="right hide-on-med-and-down header-font">
                <li>
                    <a href="/buyer">Buyer Profile</a>
                </li>
                <li>
                    <a href="/vendor">Vendor Profile</a>
                </li>
                <li>
                    <a href="/buyer/search">Search</a>
                </li>
                <li>
                    <a href="/vendor/manageproducts">Manage Products</a>
                </li>
                <li>
                    <a class='modal-trigger login' href="#modal1">Login / Sign up</a>
                </li>
                <li>
                    <a href="/buyer" class='image-div'>
                        <img id="img-circle" src="/images/man1.png">
                    </a>
                </li>
                <li>
                    <a href="#" class="logoutBtn">Logout</a>
                </li>
            </ul>
        </div>
    </nav>

    <ul class="sidenav header-font" id="mobile-demo">

        <li>
            <a href="/buyer">Buyer Profile</a>
        </li>
        <li>
            <a href="/vendor">Vendor Profile</a>
        </li>
        <li>
            <a href="/buyer/search">Search</a>
        </li>
        <li>
            <a href="/vendor/manageproducts">Manage Products</a>
        </li>
        <li>
            <a class='modal-trigger login' href="#modal1">Login / Sign up</a>
        </li>
        <li>
            <a href="#" class="logoutBtn">Logout</a>
        </li>
    </ul>

     <!-- Login Modal-->
  <div id="modal1" class="modal fade">
    <form class="login-form">
      <div class="row">
        <div class="input-field col s12 center">
          <p class="center login-form-text header-font">Login Or Create An Account</p>
        </div>
      </div>

      <div class="row">
        <div class="col s2">
          <i class="medium material-icons" style='color:steelblue;'>person_outline</i>
        </div>

        <div class="input-field col s9">
          <input id="modal-email" type="text">
          <label for="modal-email" class="center-align">Email</label>
        </div>
      </div>

      <div class="row">
        <div class="col s2">
          <i class="medium material-icons" style='color:steelblue;'>enhanced_encryption</i>
        </div>

        <div class="input-field col s9">
          <input id="modal-password" type="password">
          <label for="modal-password">Password</label>
        </div>

      </div>

      <div class="row">
        <div class="input-field col s12 center-align">
          <a href="#" class="btn waves-effect waves-light loginBtn" style='background-color:steelblue;'>Login</a>
        </div>
      </div>
      <div class="row">
        <div class="input-field col s6 m6 l6">
          <p class="medium">
            <a href="/signup">Register Now!</a>
          </p>
        </div>
      </div>
    </form>

  </div>

    {{{ body }}}
</body>

<script>
  // Initializing modal
  $(document).ready(function () {
    $('.modal').modal();
    $('.parallax').parallax();
  });
</script>

</html>