<!DOCTYPE html>

<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>


    {{!-- jQuery CDN --}}
    <script src="https://code.jquery.com/jquery-3.3.1.js" integrity="sha256-2Kok7MbOyxpgUVvAk/HJ2jigOSYS2auK4Pfzbm7uH60=" crossorigin="anonymous"></script> {{!-- Linked materialize to use SASS for new tech requirements --}}
    <!-- Compiled and minified CSS -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0-beta/css/materialize.min.css">

    <!-- Compiled and minified JavaScript -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0-beta/js/materialize.min.js"></script> {{!-- link for materialize icons --}}
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <!-- Firebase -->
    <script src="https://www.gstatic.com/firebasejs/4.13.0/firebase.js"></script>
    <!-- CSS -->
    <link rel="stylesheet" href="/css/styles.css" media="screen" title="no title">
    <link rel="stylesheet" href="/css/farmerStyles.css" media="screen" title="no title">
    <link rel="stylesheet" href="/css/farmerEditStyles.css" media="screen" title="no title">
    <link rel="stylesheet" href="/css/sassStyles.css" media="screen" title="no title">
    <link rel="stylesheet" href="/css/main.css" media="screen" title="no title">
    <script crossorigin src="https://unpkg.com/react@16/umd/react.development.js"></script>
    <script crossorigin src="https://unpkg.com/react-dom@16/umd/react-dom.development.js"></script>
    <script src="/js/react-loading-button.js"></script> {{!-- Google Fonts --}}
    <link href="https://fonts.googleapis.com/css?family=Cabin+Sketch" rel="stylesheet">

</head>

<body>
    <div class="navbar-fixed">
        <nav class="nav-extended hoverable">
            <div class="nav-wrapper container">
                <a href="/" class="home-text">Home</a>

                <a href="/" class="brand-logo header-font sizing">
                    <div id="react"></div>
                </a>
                <a href="#" data-target="mobile-demo" class="sidenav-trigger">
                    <i class="material-icons">menu</i>
                </a>

                <ul id="nav-mobile" class="right hide-on-med-and-down header-font">
                    <li>

                    </li>
                    <li>
                        <a class="buyer hide" href="/buyer">Buyer Profile</a>
                    </li>
                    <li>
                        <a href="/buyer/search">Search</a>
                    </li>
                    <li>
                        <a class="manage hide" href="/vendor/manageproducts">Manage Profile</a>
                    </li>
                    <li>
                        <a class='modal-trigger login show' href="#modal1">Login / Sign up</a>
                    </li>
                    <li>
                        <a href="/buyer" class='image-div'>
                            <img id="img-circle" src="/images/man1.png">
                        </a>
                    </li>
                    <li>
                        <a href="#" class="logoutBtn hide">Logout</a>
                    </li>
                </ul>
            </div>
        </nav>
    </div>

    <ul class="sidenav header-font" id="mobile-demo">

        <li>
            <a href="/buyer">Buyer Profile</a>
        </li>
        <li>
            <a href="/buyer/search">Search</a>
        </li>
        <li>
            <a href="/vendor/manageproducts">Manage Profile</a>
        </li>
        <li>
            <a class='modal-trigger login' href="#modal1">Login / Sign up</a>
        </li>
        <li>
            <a href="#" class="logoutBtn">Logout</a>
        </li>
    </ul>

    <!-- Login Modal-->
    <div id="modal1" class="modal fade">
        <form class="login-form">
            <div class="row">
                <div class="input-field col s12 center">
                    <p class="center login-form-text header-font">Login Or Create An Account</p>
                </div>
            </div>

            <div class="row">
                <div class="col s2">
                    <i class="medium material-icons" style='color:steelblue;'>person_outline</i>
                </div>

                <div class="input-field col s9">
                    <input id="modal-email" type="text">
                    <label for="modal-email" class="center-align">Email</label>
                </div>
            </div>

            <div class="row">
                <div class="col s2">
                    <i class="medium material-icons" style='color:steelblue;'>enhanced_encryption</i>
                </div>

                <div class="input-field col s9">
                    <input id="modal-password" type="password">
                    <label for="modal-password">Password</label>
                </div>

            </div>

            <div class="row">
                <div class="input-field col s12 center-align">
                    <a href="#" class="btn waves-effect waves-light loginBtn" style='background-color:steelblue;'>Login</a>
                </div>
            </div>
            <div class="row">
                <div class="input-field col s6 m6 l6">
                    <p class="medium">
                        <a href="/signup">Register Now!</a>
                    </p>
                </div>
            </div>
        </form>

    </div>


    {{{ body }}}

    <script src="../../js/main.js"></script>

</body>

<footer class="page-footer">
    <div class="container">
        <div class="row">
            <div class="col l6 s6">
                <h6 class="white-text">Navigation</h6>
                    <p><a class="buyer hide grey-text text-lighten-4" href="/buyer">Buyer Profile</a></p>
                    <p><a class="grey-text text-lighten-4" href="/buyer/search">Search</a></p>
                    <p><a class="manage hide grey-text text-lighten-4" href="/vendor/manageproducts">Manage Products</a></p>
                    <p><a class='modal-trigger login show grey-text text-lighten-4' href="#modal1">Login / Sign up</a></p>
                    <p><a href="#" class="logoutBtn hide grey-text text-lighten-4">Logout</a></p>
            </div>
            <div class="col l6 s6">
                <h6 class="white-text">Contributors</h6>
                <p>
                    <a href="https://github.com/dtcrowley" class="grey-text text-lighten-4">Daniel Crowley</a>
                    <br>
                    <a href="https://github.com/MeliaNolen" class="grey-text text-lighten-4">Melia Nolen</a>
                    <br>
                    <a href="https://github.com/Connor2121" class="grey-text text-lighten-4">Connor Reed</a>
                    <br>
                    <a href="https://github.com/rsarge47" class="grey-text text-lighten-4">Robert Sargent</a>
                </p>
            </div>
        </div>
    </div>
    <div class="footer-copyright">
        <div class="container">
            © 2018 Roe4
            <a class="grey-text text-lighten-4 right" href="https://www.freepik.com/free-vector/eco-logos-template_1093618.htm">Freepik Logos</a>
        </div>
    </div>
</footer>  

</html>