<div class="container">
    <div class="row">
        {{!-- roduct search input --}}
        <div class="input-field col l6 s12">
            <input placeholder="ex; Carrots" id="search_item" type="text" class="validate">
            <label for="search_item">Product</label>
        </div>
        {{!-- county select dropdown --}}
        <div class="input-field col l6 s12">
            <select multiple>
                {{!-- TODO: dynamically generate these based on search criteria --}}
                <option value="" disabled selected>Choose your option</option>
                <option value="1">Option 1</option>
                <option value="2">Option 2</option>
                <option value="3">Option 3</option>
            </select>
            <label>County</label>
            
        </div><button class="button button-rounded-hover">Search</button>
    </div>

    <h4 class='header-font'>Vendors with your searched product</h4>

    <div class="row">
        <div class="search-results">
            {{!-- dynamically generated results go here --}}
            {{!-- test card --}}
            <div class='card'>
                <div class='flex'>
                    <div class='card-image waves-effect waves-block waves-light'>
                        <img class='activator' src="https://www.organicfacts.net/wp-content/uploads/Carrot1.jpg">
                    </div>
                    <div class="card-content">
                        <span class="header-font card-title activator grey-text text-darken-4">
                            <i class="material-icons right">more_vert</i>
                        </span>
                        <p>
                            <a href="#">Link to nothing</a>
                        </p>
                    </div>
                </div>
                <div class="card-reveal">
                    <span class="card-title grey-text text-darken-4">
                        <i class="material-icons right">close</i>
                    </span>
                    <br>
                    <p>stuff goes here</p>
                </div>
            </div>
        </div>
    </div>
</div>



<script>
    // initializing form selector
    $(document).ready(function () {
        $('select').formSelect();
    });
</script>