<br>
<div class="container profile">
    {{!-- Photo and Name --}}
    <div class="row">
        <input type='file' id='fileButton'>
    </div>

    <div class="row">
        <h3 id='firstName' class='header-font'>Name</h3>
        <h3 id='lastName' class='header-font'>Here</h3>
    </div>

    <div class="row">
        <img src="http://www.personalbrandingblog.com/wp-content/uploads/2017/08/blank-profile-picture-973460_640-300x300.png" style='width:200px;height:200px;'
            alt="User Photo" id='userPhoto'>
    </div>

    {{!-- Display previous serches here from Firebase --}}
    <div class="row">
        {{!-- Need to add JS to dynamically load this info from firebase --}}
        <table>
            <thead>
                <tr>
                    <th>Product</th>
                    <th>Vendor</th>
                </tr>
            </thead>

            <tbody id="searched">
                <tr>
                    <td>Carrots</td>
                    <td>Farmer John</td>

                </tr>
                <tr>
                    <td>Beets</td>
                    <td>Dwight Schrute</td>
                </tr>
                <tr>
                    <td>Corn</td>
                    <td>Farmer Joe</td>
                </tr>
            </tbody>
        </table>
    </div>

</div>
<footer class="page-footer">
        <div class="container">
            <div class="row">
                <div class="col l6 s12">
                    <h5 class="white-text">Footer Content</h5>
                    <p class="grey-text text-lighten-4">You can use rows and columns here to organize your footer content.</p>
                </div>
            </div>
        </div>
        <div class="footer-copyright">
            <div class="container">
                © 2018 Roe4
                <a class="grey-text text-lighten-4 right" href="https://www.freepik.com/free-vector/eco-logos-template_1093618.htm">Freepik Logos</a>
            </div>
        </div>
    </footer>



<script>
    $(document).ready(function () {
        $('.sidenav').sidenav();
        
        firebase.auth().onAuthStateChanged(user => {
            if (user) {
                // displaySearches();
                displayUser();
                displayPic();
            }
            // else clear out profile
        })
        // get elements    
        const fileButton = document.getElementById('fileButton');
        // Listen for file selection
        fileButton.addEventListener('change', e => {
            // Get file
            let file = e.target.files[0];
            // Create a storage ref
            let storageRef = firebase.storage().ref('profile_photo/' + firebase.auth().currentUser.uid);
            // substitute file.name with uid
            // Upload file then use promise to display pic
            storageRef.put(file).then(snap => {
                displayPic();
            });

        });
        // use url of image uploaded by user to display profile picture
        displayPic = () => {
            firebase.storage().ref('profile_photo/' + firebase.auth().currentUser.uid).getDownloadURL().then(url => {
                console.log(url);

                // insert url into image src
                let img = document.getElementById('userPhoto');
                img.src = url;
                let navImg = document.getElementById('img-circle');
                navImg.src = url;
            }).catch(function (error) {
                // Handle any errors
            });
        }
        // displays first name and last name
        displayUser = () => {
            let userId = firebase.auth().currentUser.uid;
            firebase.database().ref('users/' + userId).once('value', snap => {
                let first = snap.val().firstName;
                let last = snap.val().lastName;
                $('#firstName').text(first);
                $('#lastName').text(last);
            })
        }
        // displays last 5 search criteria from form
        function displaySearches() {
            let userId = firebase.auth().currentUser.uid;
            firebase.database().ref('users/' + userId).child('searches').limitToLast(5).on('child_added', function (snap) {
                let count = $('#searched tr').length;
                if (count > 4) {
                    $('#searched tr:last').remove();
                }
                $('#searched').prepend('<tr class="trow"><td> ' +
                    snap.val().degree_type + ' </td><td> ' +
                    snap.val().program + ' </td><td> ' +
                    snap.val().max_tuition + ' </td></tr>');
            }, function (errorObject) {
                console.log('The read failed: ' + errorObject.code);
            });
        };
    });
</script>