<br>
<div class="container profile">
    <div class="vendor-profile-basic row">
        <div class="col s5">
            <div class="vendor-profile-basic-intro">
                <img id="userPhoto" class="vendor-profile-basic-intro-pic" src="http://www.personalbrandingblog.com/wp-content/uploads/2017/08/blank-profile-picture-973460_640-300x300.png"
                    alt="profile-image" />
                <input type='file' id='fileButton'>

            </div>
        </div>
        <div class="col s7">
            <div class="user-profile-basic-name">
                <h3 id='firstName' class='header-font'>Name</h3>
                <h3 id='lastName' class='header-font'>Here</h3>
            </div>
        </div>
    </div>
    {{!-- Display previous serches here from Firebase --}}
    <div class="row">
        {{!-- Need to add JS to dynamically load this info from firebase --}}
        <table>
            <h3>Favorites:</h3>
            <ul class="favorites">

            </ul>
        </table>
    </div>
</div>

<script src="../js/buyerProfile.js"></script>