<div class="search-div">
    <br><br>
    <div class="container">
        <div class="card">
            <div class="card-content">
                <p>Search by...</p>
            </div>
            <div class="card-tabs">
                <ul class="tabs tabs-fixed-width">
                    <li class="tab">
                        <a href="#product-tab">Product</a>
                    </li>
                    <li class="tab">
                        <a href="#city-tab">City</a>
                    </li>
                    <li class="tab">
                        <a href="#vendor-tab">Vendor</a>
                    </li>
                    <li class="tab">
                        <a href="#livestock-tab">Livestock</a>
                    </li>
                </ul>
            </div>
            <div class="card-content grey lighten-4">
                <div id="product-tab">
                    {{!-- product search input --}}
                    <div class="input-field col l6 s12">
                        <input placeholder="ex; Carrots" id="search_item" type="text" class="validate">
                        <label for="search_item">Product</label>
                        <button id="productButton" class="button button-rounded-hover">Search</button>
                    </div>
                </div>
        
                <div id="city-tab">
                    {{!-- city select dropdown --}}
                    <div class="input-field col l6 s12">
                        <select id="city-name" >
                            {{!-- dynamically generate these based on search criteria --}}
                            <option value="" disabled selected>Choose your option</option>
                        </select>
        
                        <label>City</label>
                        <button id="cityButton" class="button button-rounded-hover">Search</button>
                    </div>
                </div>
        
                <div id="vendor-tab">
                    <div class="input-field col s6">
                        <input placeholder="Farmer Brown's Farm" id="vendor" type="text" class="validate">
                        <label for="first_name">Vendor</label>
                        <button id="vendorButton" class="button button-rounded-hover">Search</button>
                    </div>
                </div>
        
                <div id="livestock-tab">
                    <div class="input-field col s6">
                        <input placeholder="Laying Hens" id="livestock" type="text" class="validate">
                        <label for="first_name">Livestock</label>
                        <button id="livestockButton" class="button button-rounded-hover">Search</button>
                    </div>
                </div>
        
            </div>
        </div>
    </div>
    <br><br>
</div>


<div class="container search-result-data">
   <div class="row productArea">
       <div class="col l12">
            <ul class="collapsible productData">
                    
            </ul>
       </div>
   </div>
    
    <div class="row header-here"></div>
    <div class="row">
        <div class="search-results">
            {{!-- dynamically generated results go here --}} {{!-- test card --}}

        </div>
        <div class="newData">
            {{> card}}
        </div>
    </div>

</div>

<script src="../js/buyerSearch.js"></script>
