<br>
<div class="container farmer-info-basic">
    <div class="vendor-profile-basic row">
        <div class="col s5">
            <div class="vendor-profile-basic-intro">
                <div class="vendor-profile-basic-name">
                    <h3 id="vendor-name">Henderson Farms</h3>
                </div>
                <img id="vendorPhoto" class="vendor-profile-basic-intro-pic" src="https://images.readwrite.com/wp-content/uploads/2018/03/iStock-506164764-e1481059583622.jpg" alt="profile-image"
                /> 
            </div>
        </div>
        <div class="col s7">
            <div class="vendor-profile-basic-more">
                <div class="vendor-profile-basic-about">
                    <h4>Bio:</h4>
                    <div class="input-field ">
                        <h7 id="vendor-bio">
                        Here at Henderson Farms we pride ourselves on organically grown produce.  We never use harmful chemicals on ANY of our crops.
                        </h7>
                    </div>
                    <h4>Ask for:</h4>
                    <h7 id="vendor-bio">
                    David Henderson
                    </h7>
                </div>
            </div>
        </div>
    </div>
    <!-- Product Section --->
    <div class="vendor-product row">
        <div class="col s7 current-product box">
            <h5>Crops:</h5>
            <div class="product-card">
                <div class="card-body">
                    <p placeholder="Sweet Potatoes" id="vendor-crop">
                        Carrots<br>
                        Turnips<br>
                        Potatoes<br>
                        Beans<br>
                    </p>
                </div>
            </div>

        </div>
        <div class="col s7 current-product box">
            <h5>Livestock:</h5>
            <div class="product-card">
                <div class="card-body">
                    <p placeholder="Dairy Cows" id="vendor-livestock">
                        Beef<br>
                        Broilers (Chicken)<br>
                        Eggs<br>
                        Milk<br>
                    </p>
                </div>
            </div>
        </div>
        <div class="col s1"></div>
        <div class="col s4 contact-info box">
            <h5>Contact info</h5>
            <hr>
            <div class="product-card">
                <div class="card-body">
                    <h6>Phone:</h6>
                    <p id="vendor-phone">703-867-5309</p> 
                    <hr>
                    <h6>Email:</h6>
                    <p id="vendor-email"> hendersondavid969@gmail.com</p>
                    <button data-target="modal-contact" class="btn modal-trigger">Email Me!</button>
                    <hr>
                    <h6 class="venAddress"></h6>
                    <h6>Street Address:</h6>
                    <p id="vendor-address">4582 Clifton Dr</p>
                    <hr>
                    <h6>City:</h6>
                    <p id="vendor-city">Charlotte</p>
                    <hr>
                    <h6>State:</h6>
                    <p id="vendor-state">North Carolina</p>
                    <hr>
                    <h6>Zip:</h6>
                    <p id="vendor-zip">28269</p>
                    <hr>
                </div>
            </div>
        </div>
    </div>
</div>

<!-- Contact Modal -->
<div id="modal-contact" class="modal">
    <div class="modal-content">
        <div class="col s12 m12 l6">
            <div class="card-panel">
                <h4 class="header2">Form with placeholder</h4>
                <div class="row">
                    <form class="col s12">
                        <div class="row">
                            <div class="input-field col s12">
                                <input placeholder="john@domainname.com" id="email2" type="email" name="fromEmail" class="validate">
                                <label for="email">Email</label>
                                <span class="helper-text" data-error="Please enter a valid email." data-success="">Enter your email</span>
                            </div>
                        </div>
                        <div class="row">
                            <div class="input-field col s12">
                                <input placeholder="In Search of Fresh Organic Food" id="subject" type="text" name="subject" class="validate">
                                <label for="subject">Subject</label>
                                <span class="helper-text" data-error="Please enter a subject." data-success="">Enter a subject</span>
                            </div>
                        </div>
                        <div class="row">
                            <div class="input-field col s12">
                                <textarea placeholder="Could I come by and pick up some food?" id="message2" class="materialize-textarea validate" name="message"></textarea>
                                <label for="message">Message</label>
                                <span class="helper-text" data-error="Please enter a valid message." data-success="">Enter your message</span>

                            </div>
                            <div class="row">
                                <div class="input-field col s12">
                                    <button class="btn cyan waves-effect waves-light right submitBtn" type="submit" name="action">Submit
                                        <i class="mdi-content-send right"></i>
                                    </button>
                                </div>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>


<script>
    

    $(document).ready(() => {
        $('.modal').modal();
        $('input#input_text, textarea#textarea2').characterCounter();
        $("[data-menu-underline-from-center] a").addClass("underline-from-center");    
        $("[data-menu-underline-from-center] a").addClass("underline-from-center");

        let urlId = window.location.href.slice(-3);
        console.log('urlId: ', urlId);
        
        
        displayVendor = () => {
            let base = location.origin;
            $.get(base + '/api/vendors/id/' + urlId , result => {
                $('#vendor-bio').text(result.Bio);
                $('#vendor-name').text(result.Vendor);
                $('#vendor-phone').text(result.Phone);
                $('#vendor-email').text(result.Email);
                $('#vendor-address').text(result.Address);
                $('#vendor-city').text(result.City);
                $('#vendor-state').text(result.State);
                $('#vendor-zip').text(result.Zip);
            });
        };

        displayVendor();

        // Sendgrid ajax post
        $('.submitBtn').on('click', e => {
            e.preventDefault();
            let toEmail = $('.venEmail').text().trim();
            let fromEmail = $('#email2').val().trim();
            let subject = $('#subject').val().trim();
            let message = $('#message2').val().trim();
            console.log(toEmail);
            $.post('/api/mail', {
                toEmail,
                fromEmail, 
                subject, 
                message
            }).then(cb => {
                $('#modal-contact').modal('close');
            });
        });
    });

</script>