<h3 class="title">Edit Your Products Below</h3> 

<div class="container edit">
    <div class="descript"><h6>Featured/Seasonal Products</h6></div>
    <div class="product-popup row">
       <div class="col-md-6">
           New Entry Here<br>
           And Here<br>
           And Here
       </div>
    </div>
    <div class="product-edit row">
        <div class="col-md-6">
            <div class="form-group">
                <label for="exampleFormControlTextarea1">Product</label>
                <textarea class="form-control" id="exampleFormControlTextarea1" rows="2"></textarea>
            </div>
        </div>
        <div class="col-md-6">
            <div class="form-group">
                <label for="exampleFormControlTextarea1">Description</label>
                <textarea class="form-control" id="exampleFormControlTextarea1" rows="2"></textarea>
            </div>
        </div>
    </div><button type="submit" class="btn btn-primary">Submit</button>
</div>
<div class="container edit">
    <div class="regular-descript"><h6>Products</h6></div>
    <div class="product-popup row">
       <div class="col-md-6">
           New Entry Here<br>
           And Here<br>
           And Here
       </div>
    </div>
    <div class="product-edit row">
        <div class="col-md-6">
            <div class="form-group">
                <label for="exampleFormControlTextarea1">Product</label>
                <textarea class="form-control" id="exampleFormControlTextarea1" rows="2"></textarea>
            </div>
        </div>
        <div class="col-md-6">
            <div class="form-group">
                <label for="exampleFormControlTextarea1">Description</label>
                <textarea class="form-control" id="exampleFormControlTextarea1" rows="2"></textarea>
            </div>
        </div>
    </div><button type="submit" class="btn btn-primary">Submit</button>
</div>






<script>
    $("[data-menu-underline-from-center] a").addClass("underline-from-center");
</script>