<br>
<header class="update">Make sure to keep profile updated so consumer can be informed.</header>

<div class="container farmer-info-basic">
    <div class="vendor-profile-basic row">
        <div class="col-md-5">
            <div class="vendor-profile-basic-intro">
                <img class="vendor-profile-basic-intro-pic" src="http://www.yourdictionary.com/images/definitions/lg/4320.farmer.jpg" alt="profile-image"
                />
                <div class="vendor-profile-basic-name">
                    <h3>Vendor Name</h3>
                </div>
            </div>
        </div>
        <div class="col-md-7">
            <div class="vendor-profile-basic-more">
                <div class="vendor-profile-basic-about">
                    <p>
                        Lorem ipsum dolor sit amet, consectetur adipisicing elit. Voluptatem libero fugit, pariatur maxime! Optio enim, deserunt
                        quia molestiae fugiat delectus, dolore et esse nostrum, quod autem necessitatibus fugit soluta repellendus.
                    </p>
                </div>
            </div>
        </div>
    </div>
    <!-- Product Section --->
    <div class="vendor-product row">
        <div class="col-md-7 current-product box">
            Products
            <div class="product-card">
                <div class="card-body">
                    <h6 class="product">Sweet Potatoes. A lot of them.</h6>
                </div>
            </div>
        </div>
        <div class="col-md-1"></div>
        <div class="col-md-4 contact-info box">
            Contact info
            <div class="product-card">
                <div class="card-body">
                    <h6 class="phone-number">Phone: 777-777-7777</h6>
                    <h6 class="email">Email: connorgreed@gmail.com</h6>
                    <h6 class="address">Address: </h6>
                </div>
            </div>


        </div>
    </div>
    <div class="vendor-footer row">
        <div class="col-md-12">
            <footer>
                
            </footer>
        </div>
    </div>
</div>
    



<script>
    $("[data-menu-underline-from-center] a").addClass("underline-from-center");
</script>