<h3 class="title">
    Edit Your Profile Below</h3>
<div class="container farmer-info-basic">
    <div class="vendor-profile-basic row">
        <div class="col s5">
            <div class="vendor-profile-basic-intro">
                <img id="vendorPhoto" class="vendor-profile-basic-intro-pic" src="http://www.yourdictionary.com/images/definitions/lg/4320.farmer.jpg" alt="profile-image"
                /> 
                <input type='file' id='fileButtonVendor'>
                <div class="vendor-profile-basic-name">
                    <textarea id="vendor-name" class="materialize-textarea">Vendor Name</textarea>
                </div>
            </div>
        </div>
        <div class="col s7">
            <div class="vendor-profile-basic-more">
                <div class="vendor-profile-basic-about">Bio
                    <div class="input-field ">
                        <textarea id="vendor-bio" class="materialize-textarea"></textarea>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- Product Section --->
    <div class="vendor-product row">
        <div class="col s7 current-product box">
            Crops
            <div class="product-card">
                <div class="card-body">
                    <textarea id="vendor-crop" class="materialize-textarea">Sweet Potatoes. A lot of them
                    </textarea>
                </div>
            </div>
            <button id="crops-edit-btn" class="button button-rounded-hover">Submit Crops Edits</button>

        </div>
        <div class="col s7 current-product box">
            Livestock
            <div class="product-card">
                <div class="card-body">
                    <textarea id="vendor-livestock" class="materialize-textarea">Cows. A lot of them
                    </textarea>
                </div>
            </div>
            <button id="livestock-edit-btn" class="button button-rounded-hover">Submit Livestock Edits</button>

        </div>
        <div class="col s1"></div>
        <div class="col s4 contact-info box">
            Contact info
            <div class="product-card">
                <div class="card-body">
                    Phone:
                    <textarea id="vendor-phone" class="materialize-textarea"> 777-777-7777</textarea> 
                    Email:
                    <textarea id="vendor-email" class="materialize-textarea"> connorgreed@gmail.com</textarea>
                    Street Address:
                    <textarea id="vendor-address" class="materialize-textarea"> </textarea>
                    City:
                    <textarea id="vendor-city" class="materialize-textarea"> </textarea>
                    State:
                    <textarea id="vendor-state" class="materialize-textarea"> </textarea>
                    Zip:
                    <textarea id="vendor-zip" class="materialize-textarea"> </textarea>
                </div>
            </div>
        </div>
    </div>
    <div class="vendor-footer row">
        <div class="col-md-12">
            <footer>
<button id="farmer-edit-btn" class="button button-rounded-hover">Submit Info Edits</button>
            </footer>
        </div>
    </div>
</div>

<footer class="page-footer">
        <div class="container">
            <div class="row">
                <div class="col l6 s12">
                    <h5 class="white-text">Footer Content</h5>
                    <p class="grey-text text-lighten-4">You can use rows and columns here to organize your footer content.</p>
                </div>
            </div>
        </div>
        <div class="footer-copyright">
            <div class="container">
                © 2018 Roe4
                <a class="grey-text text-lighten-4 right" href="https://www.freepik.com/free-vector/eco-logos-template_1093618.htm">Freepik Logos</a>
            </div>
        </div>
    </footer>

<script>
    $("[data-menu-underline-from-center] a").addClass("underline-from-center");

    $(document).ready(() => {

        firebase.auth().onAuthStateChanged( user => {
            displayPic();
            displayVendor();
        });
        

        $('#farmer-edit-btn').on('click', e => {
            e.preventDefault();

            let uid = firebase.auth().currentUser.uid;
            let bio = $('#vendor-bio').val().trim();
            let vendorName = $('#vendor-name').val().trim();
            let phoneNum = $('#vendor-phone').val().trim();
            let email = $('#vendor-email').val().trim();
            let address = $('#vendor-address').val().trim();
            let city = $('#vendor-city').val().trim();
            let state = $('#vendor-state').val().trim();
            let zip = $('#vendor-zip').val().trim();

            $.post('/api/vendorEdit', {
                uid,
                bio,
                vendorName,
                phoneNum,
                email,
                address,
                city,
                state,
                zip
            }).then(cb => {
                console.log('post sent..');
            });
            //let products = $('#vendor-product').val().trim();
            // use reg expression to validate email format
            // TO DO: add form validation

            // post vendor profile data to firebase
            // writeVendorData(firebase.auth().currentUser.uid, bio, vendorName, products, phoneNum, email, address);
        });

        $('#crops-edit-btn').on('click', e => {
            e.preventDefault();

            let bio = $('#vendor-bio').val().trim();
            let vendorName = $('#vendor-name').val().trim();
            let products = $('#vendor-product').val().trim();
            let phoneNum = $('#vendor-phone').val().trim();
            // use reg expression to validate email format
            let email = $('#vendor-email').val().trim();
            let address = $('#vendor-address').val().trim();
            // TO DO: add form validation

            // post vendor profile data to firebase
            writeVendorData(firebase.auth().currentUser.uid, bio, vendorName, products, phoneNum, email, address);
        });

        $('#livestock-edit-btn').on('click', e => {
            e.preventDefault();

            let bio = $('#vendor-bio').val().trim();
            let vendorName = $('#vendor-name').val().trim();
            let products = $('#vendor-product').val().trim();
            let phoneNum = $('#vendor-phone').val().trim();
            // use reg expression to validate email format
            let email = $('#vendor-email').val().trim();
            let address = $('#vendor-address').val().trim();
            // TO DO: add form validation

            // post vendor profile data to firebase
            writeVendorData(firebase.auth().currentUser.uid, bio, vendorName, products, phoneNum, email, address);
        });


        const imageButton = document.getElementById('fileButtonVendor');
        // Listen for file selection
        imageButton.addEventListener('change', e => {
            // Get file
            let file = e.target.files[0];
            // Create a storage ref
            let storageRef = firebase.storage().ref('vendor_photo/' + firebase.auth().currentUser.uid);
            // substitute file.name with uid
            // Upload file then use promise to display pic
            storageRef.put(file).then(snap => {
                displayPic();
            });
        });
        // use url of image uploaded by user to display profile picture
        displayPic = () => {
            firebase.storage().ref('vendor_photo/' + firebase.auth().currentUser.uid).getDownloadURL().then(url => {
                console.log(url);

                // insert url into image src
                let img = document.getElementById('vendorPhoto');
                img.src = url;
            }).catch(function (error) {
                // Handle any errors
                console.log('Error: ', error);
            });
        };

        displayVendor = () => {
            let userId = firebase.auth().currentUser.uid;
            firebase.database().ref('users/' + userId).once('value', snap => {
                $('#vendor-bio').text(snap.val().bio);
                $('#vendor-name').text(snap.val().vendorName);
                $('#vendor-product').text(snap.val().products);
                $('#vendor-phone').text(snap.val().phoneNum);
                $('#vendor-email').text(snap.val().email);
                $('#vendor-address').text(snap.val().address);
            });
        };

        writeVendorData = (userId, bio, vendorName, products, phoneNum, email, address) => {
            firebase.database().ref('users/' + userId).update({ bio, vendorName, products, phoneNum, email, address }, 
            err => {
                window.location.replace('/vendor');
            });
        };
    })
</script>