





<div class="container farmer-info-basic">
    <div class="vendor-profile-basic row">
        <div class="col s5">
            <div class="vendor-profile-basic-intro">
                <img class="vendor-profile-basic-intro-pic" src="http://www.yourdictionary.com/images/definitions/lg/4320.farmer.jpg" alt="profile-image"
                />
                <div class="vendor-profile-basic-name">
                    <h3>Vendor Name</h3>
                </div>
            </div>
        </div>
        <div class="col s7">
            <div class="vendor-profile-basic-more">Bio
                <div class="vendor-profile-basic-about">
                    <p>
                        Lorem ipsum dolor sit amet, consectetur adipisicing elit. Voluptatem libero fugit, pariatur maxime! Optio enim, deserunt
                        quia molestiae fugiat delectus, dolore et esse nostrum, quod autem necessitatibus fugit soluta repellendus.
                    </p>
                </div>
            </div>
        </div>
    </div>
    <!-- Product Section --->
    <div class="vendor-product row">
        <div class="col s7 current-product box">
            Products
            <div class="product-card">
                <div class="card-body">
                    <h6 class="product">Sweet Potatoes. A lot of them.</h6>
                </div>
            </div>
            
        </div>
        <div class="col s1"></div>
        <div class="col s4 contact-info box">
            Contact info
            <div class="product-card">
                <div class="card-body">
                    Phone:
                    <h6 class="phone-number"> 777-777-7777</h6>
                    Email:
                    <h6 class="email"> connorgreed@gmail.com</h6>
                    Address:
                    <h6 class="address"> </h6>
                </div>
            </div>

        </div>
    </div>
    <div class="vendor-footer row">
        <div class="col-md-12">
            <footer>
<button id="farmer-edit-btn" class="button button-rounded-hover">Edit Profile</button>
            </footer>
        </div>
    </div>
</div>




<script>
    $("[data-menu-underline-from-center] a").addClass("underline-from-center");
</script>