<h3 class="title">
    Edit Your Profile Below</h3>
<div class="container farmer-info-basic">
    <div class="vendor-profile-basic row">
        <div class="col s5">
            <div class="vendor-profile-basic-intro">
                <img class="vendor-profile-basic-intro-pic" src="http://www.yourdictionary.com/images/definitions/lg/4320.farmer.jpg" alt="profile-image"
                /> 
                <input type='file' id='fileButtonFarmer'>
                <div class="vendor-profile-basic-name">
                    <textarea id="vendor-name" class="materialize-textarea">Vendor Name</textarea>
                </div>
            </div>
        </div>
        <div class="col s7">
            <div class="vendor-profile-basic-more">
                <div class="vendor-profile-basic-about">Bio
                    <div class="input-field ">
                        <textarea id="vendor-bio" class="materialize-textarea">Lorem ipsum dolor 
                        sit amet, consectetur adipisicing elit. Voluptatem libero fugit, pariatur maxime! 
                        Optio enim, deserunquia molestiae fugiat delectus, dolore et esse nostrum, quod 
                        autem necessitatibus fugit soluta repellendus.</textarea>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- Product Section --->
    <div class="vendor-product row">
        <div class="col s7 current-product box">
            Products
            <div class="product-card">
                <div class="card-body">
                    <textarea id="vendor-product" class="materialize-textarea">Sweet Potatoes. A lot of them
                    </textarea>
                </div>
            </div>

        </div>
        <div class="col s1"></div>
        <div class="col s4 contact-info box">
            Contact info
            <div class="product-card">
                <div class="card-body">
                    Phone:
                    <textarea id="vendor-phone" class="materialize-textarea"> 777-777-7777</textarea> Email:
                    <textarea id="vendor-email" class="materialize-textarea"> connorgreed@gmail.com</textarea> Address:
                    <textarea id="vendor-address" class="materialize-textarea"> </textarea>
                </div>
            </div>
        </div>
    </div>
    <div class="vendor-footer row">
        <div class="col-md-12">
            <footer>
<button id="farmer-edit-btn" class="button button-rounded-hover">Submit Changes</button>
            </footer>
        </div>
    </div>
</div>


{{!--
<div class="container edit">
    <div class="descript">
        <h6>Featured/Seasonal Products</h6>
    </div>
    <div class="product-popup row">
        <div class="col-md-6">
            New Entry Here
            <br> And Here
            <br> And Here
        </div>
    </div>
    <div class="product-edit row">
        <div class="col-md-6">
            <div class="form-group">
                <label for="exampleFormControlTextarea1">Product</label>
                <textarea class="form-control" id="exampleFormControlTextarea1" rows="2"></textarea>

            </div>
        </div>
        <div class="product-edit row">
            <div class="col-md-6">
                <div class="form-group">
                    <label for="exampleFormControlTextarea1">Product</label>
                    <textarea class="form-control" id="exampleFormControlTextarea1" rows="2"></textarea>
                </div>
            </div>
            <div class="col-md-6">
                <div class="form-group">
                    <label for="exampleFormControlTextarea1">Description</label>
                    <textarea class="form-control" id="exampleFormControlTextarea1" rows="2"></textarea>
                </div>
            </div>
        </div>
        <button type="submit" class="btn btn-primary">Submit</button>
    </div>
</div>
<div class="container edit">
    <div class="regular-descript">
        <h6>Products</h6>
    </div>
    <div class="product-popup row">
        <div class="col-md-6">
            New Entry Here
            <br> And Here
            <br> And Here
        </div>
    </div>
    <div class="product-edit row">
        <div class="col-md-6">
            <div class="form-group">
                <label for="exampleFormControlTextarea1">Product</label>
                <textarea class="form-control" id="exampleFormControlTextarea1" rows="2"></textarea>
            </div>
        </div>
        <div class="col-md-6">
            <div class="form-group">
                <label for="exampleFormControlTextarea1">Description</label>
                <textarea class="form-control" id="exampleFormControlTextarea1" rows="2"></textarea>
            </div>
        </div>
    </div>
    <button type="submit" class="btn btn-primary">Submit</button>
</div> --}}







<script>
    $("[data-menu-underline-from-center] a").addClass("underline-from-center");
</script>