<h3 class="title">
    Edit Your Profile Below</h3>
<div class="container farmer-info-basic">
    <div class="vendor-profile-basic row">
        <div class="col s5">
            <div class="vendor-profile-basic-intro">
                <img id="vendorPhoto" class="vendor-profile-basic-intro-pic" src="http://www.yourdictionary.com/images/definitions/lg/4320.farmer.jpg" alt="profile-image"
                /> 
                <input type='file' id='fileButtonVendor'>
                <div class="vendor-profile-basic-name">
                    <textarea id="vendor-name" class="materialize-textarea">Vendor Name</textarea>
                </div>
            </div>
        </div>
        <div class="col s7">
            <div class="vendor-profile-basic-more">
                <div class="vendor-profile-basic-about">Bio
                    <div class="input-field ">
                        <textarea id="vendor-bio" class="materialize-textarea"></textarea>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- Product Section --->
    <div class="vendor-product row">
        <div class="col s7 current-product box">
            Products
            <div class="product-card">
                <div class="card-body">
                    <textarea id="vendor-product" class="materialize-textarea">Sweet Potatoes. A lot of them
                    </textarea>
                </div>
            </div>

        </div>
        <div class="col s1"></div>
        <div class="col s4 contact-info box">
            Contact info
            <div class="product-card">
                <div class="card-body">
                    Phone:
                    <textarea id="vendor-phone" class="materialize-textarea"> 777-777-7777</textarea> Email:
                    <textarea id="vendor-email" class="materialize-textarea"> connorgreed@gmail.com</textarea> Address:
                    <textarea id="vendor-address" class="materialize-textarea"> </textarea>
                </div>
            </div>
        </div>
    </div>
    <div class="vendor-footer row">
        <div class="col-md-12">
            <footer>
<button id="farmer-edit-btn" class="button button-rounded-hover">Submit Changes</button>
            </footer>
        </div>
    </div>
</div>

<script>
    $("[data-menu-underline-from-center] a").addClass("underline-from-center");

    $(document).ready(() => {
        $('#farmer-edit-btn').on('click', e => {
            e.preventDefault();

            let bio = $('#vendor-bio').val().trim();
            let vendorName = $('#vendor-name').val().trim();
            let products = $('#vendor-product').val().trim();
            let phoneNum = $('#vendor-phone').val().trim();
            // use reg expression to validate email format
            let email = $('#vendor-email').val().trim();
            let address = $('#vendor-address').val().trim();
            // TO DO: add form validation

            // post vendor profile data to firebase
            writeVendorData(firebase.auth().currentUser.uid, bio, vendorName, products, phoneNum, email, address);
        });

        const imageButton = document.getElementById('fileButtonVendor');
        // Listen for file selection
        imageButton.addEventListener('change', e => {
            // Get file
            let file = e.target.files[0];
            // Create a storage ref
            let storageRef = firebase.storage().ref('vendor_photo/' + firebase.auth().currentUser.uid);
            // substitute file.name with uid
            // Upload file then use promise to display pic
            storageRef.put(file).then(snap => {
                displayPic();
            });
        });
        // use url of image uploaded by user to display profile picture
        displayPic = () => {
            firebase.storage().ref('vendor_photo/' + firebase.auth().currentUser.uid).getDownloadURL().then(url => {
                console.log(url);

                // insert url into image src
                let img = document.getElementById('vendorPhoto');
                img.src = url;
            }).catch(function (error) {
                // Handle any errors
                console.log('Error: ', error);
            });
        }

        writeVendorData = (userId, bio, vendorName, products, phoneNum, email, address) => {
            firebase.database().ref('users/' + userId).set({ bio, vendorName, products, phoneNum, email, address }, 
            err => {
                window.location.replace('/vendor');
            });
        };
    })
</script>