<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>

    
    {{!-- jQuery CDN --}}
    <script src="https://code.jquery.com/jquery-3.3.1.js" integrity="sha256-2Kok7MbOyxpgUVvAk/HJ2jigOSYS2auK4Pfzbm7uH60=" crossorigin="anonymous"></script>

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.0/css/bootstrap.min.css" integrity="sha384-9gVQ4dYFwwWSjIDZnLEWnxCjeSWFphJiwGPXr1jddIhOegiu1FwO5qRGvFXOdJZ4"
        crossorigin="anonymous">
    <!-- Bootstrap Javascript -->
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
        crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.0/umd/popper.min.js" integrity="sha384-cs/chFZiN24E4KMATLdqdvsezGxaGsi4hLGOzlXwp5UZB1LY//20VyM2taTB4QvJ"
        crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.0/js/bootstrap.min.js" integrity="sha384-uefMccjFJAIv6A+rW+L4AHf99KvxDjWSu1z9VI8SKNVmz4sk7buKt/6v9KI65qnm"
        crossorigin="anonymous"></script> 
        
    <!-- CSS -->
    <link rel="stylesheet" href="../css/styles.css" media="screen" title="no title">
    <link rel="stylesheet" href="../css/farmerStyles.css" media="screen" title="no title">
    <link rel="stylesheet" href="../css/farmerEditStyles.css" media="screen" title="no title">

</head>

<body>
    <nav class="hover-underline-menu" data-menu-underline-from-center>
    <ul class="menu align-center farmer">
        <li class="farmNav">
            <a href="#">One</a>
        </li>
        <li class="farmNav">
            <a href="#">Two</a>
        </li>
        <li class="farmNav">
            <a href="#">Three</a>
        </li>
        <li class="farmNav">
            <a href="#">Four</a>
        </li>
    </ul>
</nav>
   
<h3 class="title">Edit Your Products Below</h3> 
<div class="container edit">
    <div class="descript"><h6>Featured/Seasonal Products</h6></div>
    <div class="product-popup row">
       <div class="col-md-6">
           New Entry Here<br>
           And Here<br>
           And Here
       </div>
    </div>
    <div class="product-edit row">
        <div class="col-md-6">
            <div class="form-group">
                <label for="exampleFormControlTextarea1">Product</label>
                <textarea class="form-control" id="exampleFormControlTextarea1" rows="2"></textarea>
            </div>
        </div>
        <div class="col-md-6">
            <div class="form-group">
                <label for="exampleFormControlTextarea1">Description</label>
                <textarea class="form-control" id="exampleFormControlTextarea1" rows="2"></textarea>
            </div>
        </div>
    </div><button type="submit" class="btn btn-primary">Submit</button>
</div>
<div class="container edit">
    <div class="regular-descript"><h6>Products</h6></div>
    <div class="product-popup row">
       <div class="col-md-6">
           New Entry Here<br>
           And Here<br>
           And Here
       </div>
    </div>
    <div class="product-edit row">
        <div class="col-md-6">
            <div class="form-group">
                <label for="exampleFormControlTextarea1">Product</label>
                <textarea class="form-control" id="exampleFormControlTextarea1" rows="2"></textarea>
            </div>
        </div>
        <div class="col-md-6">
            <div class="form-group">
                <label for="exampleFormControlTextarea1">Description</label>
                <textarea class="form-control" id="exampleFormControlTextarea1" rows="2"></textarea>
            </div>
        </div>
    </div><button type="submit" class="btn btn-primary">Submit</button>
</div>


</body>


<script>
    $("[data-menu-underline-from-center] a").addClass("underline-from-center");
</script>