<h3 class="title">
    Edit Your Profile Below</h3>
<div class="container farmer-info-basic">
    <div class="vendor-profile-basic row">
        <div class="col s5">
            <div class="vendor-profile-basic-intro">
                <img id="vendorPhoto" class="vendor-profile-basic-intro-pic" src="" alt="profile-image"
                /> 
                <input type='file' id='fileButtonVendor'>
                <div class="vendor-profile-basic-name">
                    <textarea id="vendor-name" class="materialize-textarea">Vendor Name</textarea>
                </div>
            </div>
        </div>
        <div class="col s7">
            <div class="vendor-profile-basic-more">
                <div class="vendor-profile-basic-about">Bio
                    <div class="input-field ">
                        <textarea id="vendor-bio" class="materialize-textarea"></textarea>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- Product Section --->
    <div class="vendor-product row">
        <div class="col s7 current-product box">
            Crops
            <div class="product-card">
                <div class="card-body">
                    <textarea placeholder="Sweet Potatoes" id="vendor-crop" class="materialize-textarea"></textarea>
                </div>
            </div>
            <button id="crops-edit-btn" class="button button-rounded-hover">Submit Crops Edits</button>

        </div>
        <div class="col s7 current-product box">
            Livestock
            <div class="product-card">
                <div class="card-body">
                    <textarea placeholder="Dairy Cows" id="vendor-livestock" class="materialize-textarea"></textarea>
                </div>
            </div>
            <button id="livestock-edit-btn" class="button button-rounded-hover">Submit Livestock Edits</button>

        </div>
        <div class="col s1"></div>
        <div class="col s4 contact-info box">
            Contact info
            <div class="product-card">
                <div class="card-body">
                    Phone:
                    <textarea id="vendor-phone" class="materialize-textarea"> 777-777-7777</textarea> 
                    Email:
                    <textarea id="vendor-email" class="materialize-textarea"> connorgreed@gmail.com</textarea>
                    Street Address:
                    <textarea id="vendor-address" class="materialize-textarea"> </textarea>
                    City:
                    <textarea id="vendor-city" class="materialize-textarea"> </textarea>
                    State:
                    <textarea id="vendor-state" class="materialize-textarea"> </textarea>
                    Zip:
                    <textarea id="vendor-zip" class="materialize-textarea"> </textarea>
                </div>
            </div>
        </div>
    </div>
    <div class="vendor-footer row">
        <div class="col-md-12">
            <footer>
<button id="farmer-edit-btn" class="button button-rounded-hover">Submit Info Edits</button>
            </footer>
        </div>
    </div>
</div>

<script src="../js/farmerEdit.js"></script>