<div class="hero-full-screen">

  <div class="para">
    <div class="middle-content-section main-title">
      <h2>Virtual Farmers Market</h2>
      <h5>Supporting local farmers and fisherman, while prodviding a dynamic
        <br>market place to showcase quality organic foods to the everyday consumer.
      </h5>
    </div>
  </div>

  <div class="bottom-content-section" data-magellan data-threshold="0">
    <a href="#main-content-section">
      <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24">
        <path d="M24 12c0-6.627-5.373-12-12-12s-12 5.373-12 12 5.373 12 12 12 12-5.373 12-12zm-18.005-1.568l1.415-1.414 4.59 4.574 4.579-4.574 1.416 1.414-5.995 5.988-6.005-5.988z"
        />
      </svg>
    </a>
  </div>
</div>


<div class='container' id="main-content-section" data-magellan-target="main-content-section">
  <br>
  <div class="row">
    <div class="col l4">
      <h4>Why Organic?</h4>
      <p>By choosing an organic lifestyle you are in turn supporting your environment, local economy and personal as well as public
        health. Classifying as orgainic produce means cutting out all synthetic or chemical fertilizers, herbisides, pesticides.
        Meats, dairy and eggs should be raised without the presence of growth hormones, antibiotics, medications, or unatuaral
        methods of harboring livestock.
      </p>
    </div>

    <div class="col l4">
      <img src="/images/preview.jpg" alt="fresh logo" style='width:300px;height300px'>
    </div>

    <div class="col l4">
      <h4>Why Local?</h4>
      <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Quasi magni rem minima doloremque, quam sed, ab eos non sequi libero
        in quibusdam veniam asperiores necessitatibus tenetur voluptates temporibus nulla repellendus? Lorem ipsum dolor sit amet
        consectetur adipisicing elit. Exercitationem impedit quas mollitia tempora corporis voluptate, quod, nostrum odio rerum
        omnis distinctio veniam commodi, culpa illum pariatur quae. Excepturi, iste labore! Lorem ipsum dolor sit amet consectetur
        adipisicing elit. Praesentium neque omnis sed et veniam in tempore quo! Repellendus, dicta vero. Consequatur placeat ipsum
        excepturi numquam nulla magni ut voluptatibus veniam.
      </p>
    </div>
  </div>
  

  
</div>

<script>
  // Initializing modal
  $(document).ready(function () {
    $('.modal').modal();
  });
</script>