<div class="hero-full-screen">

  <div class="para">
    <div class="middle-content-section main-title">
      <h2>Virtual Farmers Market</h2>
      <h5>Supporting local farmers and fisherman, while prodviding a dynamic
        <br>market place to showcase quality organic foods to the everyday consumer.
      </h5>
    </div>
  </div>

  <div class="bottom-content-section" data-magellan data-threshold="0">
    <a href="#main-content-section">
      <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24">
        <path d="M24 12c0-6.627-5.373-12-12-12s-12 5.373-12 12 5.373 12 12 12 12-5.373 12-12zm-18.005-1.568l1.415-1.414 4.59 4.574 4.579-4.574 1.416 1.414-5.995 5.988-6.005-5.988z"
        />
      </svg>
    </a>
  </div>
</div>


<div class='container' id="main-content-section" data-magellan-target="main-content-section">
  <br>
  <div class="row">
    <div class="col l4">
      <h4>Why Organic?</h4>
      <p>By choosing an organic lifestyle you are in turn supporting your environment, local economy and personal health.  
       Classifying as orgainic produce means cutting out all synthetic or chemical fertilizers, herbisides and pesticides.
        Meats, dairy and eggs should be raised without the presence of growth hormones, antibiotics, medications, or unatuaral
        methods of harboring livestock.  Each time you make the choice of organic foods, you are choosing to filter 
        out chemicals that would normally be present on your plate. Ultimately, organic foods are a safer alternative to nourish
        your body, so you are protected from health issues associated with conventional agriculture. 

      </p>
    </div>

    <div class="col l4">
      <img src="/images/preview.jpg" alt="fresh logo" style='width:300px;height300px'>
    </div>

    <div class="col l4">
      <h4>Why Local?</h4>
      <p> The term local can translate differently to the certain people based on the factor of distance. 
       Locally sourced is conventionally defined as food harvested within a 100 mile proximity of the point of sale.
      This way you as the consumer form a connection with your food and become more informed on what you are putting in 
      your body.  As a consumer you are investing in local business owners that you believe in , thus contributing to
      the stimulation of your local economy.
      </p>
    </div>
  </div>
</div>


<script>
  // Initializing modal
  $(document).ready(function () {
    $('.modal').modal();
  });
</script>