{{!-- <div class="hero-full-screen">
  <div class="middle-content-section">
    <h1>Virtual Farmers Market</h1>
  </div>

  <div class="bottom-content-section" data-magellan data-threshold="0">
    <a href="#main-content-section">
      
      <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24">
        <path d="M24 12c0-6.627-5.373-12-12-12s-12 5.373-12 12 5.373 12 12 12 12-5.373 12-12zm-18.005-1.568l1.415-1.414 4.59 4.574 4.579-4.574 1.416 1.414-5.995 5.988-6.005-5.988z"
        />
      </svg>
      
    </a>
  </div>
</div>

<div id="main-content-section" data-magellan-target="main-content-section">
  <div class="card">
    <div class="card-body">
      Bridging the gap between organic, local vendors and consumers who are looking for a quality food source. The virtual farmers
      market gives it users the opportunity to better their health and wellness by allowing more convenient access to fresh
      organic foods.
    </div>
  </div>
</div> --}}
<div class="parallax-container">
  <h1 class="header center white-text text-lighten-2">Virtual Farmers Market</h1>
 <div class="parallax">
    <img src="https://livingwelldaily.com/wp-content/uploads/2015/03/HealthyFoods-1000x300.jpg" alt="produce">
  </div> 
</div>

<div class="container">
  <h4>Mission Statement</h4>
  <p>
    Bridging the gap between organic, local vendors and consumers who are looking for a quality food source. The virtual farmers
      market gives it users the opportunity to better their health and wellness by allowing more convenient access to fresh
      organic foods.
  </p>

  <p>CAROSEL HERE</p>

  <h4>Why Organic?</h4>
  <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Quasi magni rem minima doloremque, quam sed, ab eos non sequi libero in quibusdam veniam asperiores necessitatibus tenetur voluptates temporibus nulla repellendus?
    Lorem ipsum dolor sit amet consectetur adipisicing elit. Exercitationem impedit quas mollitia tempora corporis voluptate, quod, nostrum odio rerum omnis distinctio veniam commodi, culpa illum pariatur quae. Excepturi, iste labore!
    Lorem ipsum dolor sit amet consectetur adipisicing elit. Praesentium neque omnis sed et veniam in tempore quo! Repellendus, dicta vero. Consequatur placeat ipsum excepturi numquam nulla magni ut voluptatibus veniam.
  </p>

  <h4>Why Local?</h4>
  <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Quasi magni rem minima doloremque, quam sed, ab eos non sequi libero in quibusdam veniam asperiores necessitatibus tenetur voluptates temporibus nulla repellendus?
    Lorem ipsum dolor sit amet consectetur adipisicing elit. Exercitationem impedit quas mollitia tempora corporis voluptate, quod, nostrum odio rerum omnis distinctio veniam commodi, culpa illum pariatur quae. Excepturi, iste labore!
    Lorem ipsum dolor sit amet consectetur adipisicing elit. Praesentium neque omnis sed et veniam in tempore quo! Repellendus, dicta vero. Consequatur placeat ipsum excepturi numquam nulla magni ut voluptatibus veniam.
  </p>
</div>
