<div class="container farmer-info-basic">
    <div class="vendor-profile-basic row">
        <div class="col s5">
            <div class="vendor-profile-basic-intro">
                <div class="vendor-profile-basic-name">
                    <h3 id="vendor-name" class="materialize-textarea">Johnson Poultry</h3>
                </div>
                <img id="vendorPhoto" class="vendor-profile-basic-intro-pic" src="https://rumpydog.files.wordpress.com/2014/05/chicken-farm-essick_66070_990x742.jpg"
                    alt="profile-image" />
            </div>
        </div>
        <div class="col s7">
            <div class="vendor-profile-basic-more">
                <div class="vendor-profile-basic-about">
                    <h4>Bio:</h4>
                    <div class="input-field ">
                        <h7 id="vendor-bio" class="materialize-textarea">
                            Johnson Poultry is an Eco-Friendly poultry farm. All our livestock are treated well from start to finish. Free-range organic
                            birds with on-site slaughter allows the quality of our produt to show in any use. </h7>
                    </div>
                    <h4>Ask for:</h4>
                    <h7 id="vendor-bio" class="materialize-textarea">
                        Asia Johnson 
                    </h7>
                </div>
            </div>
        </div>
    </div>
    <!-- Product Section --->
    <div class="vendor-product row">
        <div class="col s7 current-product box">
            <h5>Crops:</h5>
            <div class="product-card">
                <div class="card-body">
                    <p placeholder="Sweet Potatoes" id="vendor-crop" class="materialize-textarea">
                        Carrots
                        <br> Turnips
                        <br> Potatoes
                        <br> Beans
                        <br>
                    </p>
                </div>
            </div>

        </div>
        <div class="col s7 current-product box">
            <h5>Livestock:</h5>
            <div class="product-card">
                <div class="card-body">
                    <p placeholder="Dairy Cows" id="vendor-livestock" class="materialize-textarea">
                        Beef
                        <br> Broilers (Chicken)
                        <br> Eggs
                        <br> Milk
                        <br>
                    </p>
                </div>
            </div>
        </div>
        <div class="col s1"></div>
        <div class="col s4 contact-info box">
            <h5>Contact info</h5>
            <hr>
            <div class="product-card">
                <div class="card-body">
                    <h6>Phone:</h6>
                    <p id="vendor-phone" class="materialize-textarea">703-867-5309</p>
                    <hr>
                    <h6>Email:</h6>
                    <p id="vendor-email" class="materialize-textarea"> hendersondavid969@gmail.com</p>
                    <button data-target="modal-contact" class="btn modal-trigger">Email Me!</button>
                    <hr>
                    <h6 class="venAddress"></h6>
                    <h6>Street Address:</h6>
                    <p id="vendor-address" class="materialize-textarea">4582 Clifton Dr</p>
                    <hr>
                    <h6>City:</h6>
                    <p id="vendor-city" class="materialize-textarea">Charlotte</p>
                    <hr>
                    <h6>State:</h6>
                    <p id="vendor-state" class="materialize-textarea">North Carolina</p>
                    <hr>
                    <h6>Zip:</h6>
                    <p id="vendor-zip" class="materialize-textarea">28269</p>
                    <hr>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- Contact Modal -->
<div id="modal-contact" class="modal">
    <div class="modal-content">
        <div class="col s12 m12 l6">
            <div class="card-panel">
                <h4 class="header2">Form with placeholder</h4>
                <div class="row">
                    <form class="col s12">
                        <div class="row">
                            <div class="input-field col s12">
                                <input placeholder="john@domainname.com" id="email2" type="email" name="fromEmail">
                                <label for="email">Email</label>
                            </div>
                        </div>
                        <div class="row">
                            <div class="input-field col s12">
                                <input placeholder="In Search of Fresh Organic Food" id="subject" type="text" name="subject">
                                <label for="subject">Subject</label>
                            </div>
                        </div>
                        <div class="row">
                            <div class="input-field col s12">
                                <textarea placeholder="Could I come by and pick up some food?" id="message2" class="materialize-textarea" name="message"></textarea>
                                <label for="message">Message</label>
                            </div>
                            <div class="row">
                                <div class="input-field col s12">
                                    <button class="btn cyan waves-effect waves-light right submitBtn" type="submit" name="action">Submit
                                        <i class="mdi-content-send right"></i>
                                    </button>
                                </div>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>


<script>
    $(document).ready(function () {
        $('.modal').modal();
        $('input#input_text, textarea#textarea2').characterCounter();
        $("[data-menu-underline-from-center] a").addClass("underline-from-center");
    });
    $("[data-menu-underline-from-center] a").addClass("underline-from-center");

    $(document).ready(() => {
        firebase.auth().onAuthStateChanged(user => {
            displayVendor();
            displayVendorPic();
        });

        displayVendor = () => {
            let userId = firebase.auth().currentUser.uid;
            firebase.database().ref('users/' + userId).once('value', snap => {
                $('.venBio').text(snap.val().bio);
                $('.venName').text(snap.val().vendorName);
                $('.venProduct').text(snap.val().products);
                $('.venPhone').text(snap.val().phoneNum);
                $('.venEmail').text(snap.val().email);
                $('.venAddress').text(snap.val().address);
            });
        };

        displayVendorPic = () => {
            firebase.storage().ref('vendor_photo/' + firebase.auth().currentUser.uid).getDownloadURL().then(url => {
                console.log(url);

                // insert url into image src
                let img = document.getElementById('vendorProfPhoto');
                img.src = url;
            }).catch(function (error) {
                // Handle any errors
                console.log('Error: ', error);
            });
        }

        // Sendgrid ajax post
        $('.submitBtn').on('click', e => {
            e.preventDefault();

            let fromEmail = $('#email2').val().trim();
            let subject = $('#subject').val().trim();
            let message = $('#message2').val().trim();

            $.post('/api/mail', {
                fromEmail,
                subject,
                message
            }).then(cb => {
                $('#modal-contact').modal('close');
            });

        });
    });

</script>