
/*------------ Header -------------------------------*/
.update{
    text-align: center;
}
/*------------Vendor Image Container---------------*/
.farmer-info-basic {
    padding-top: 20px;
}
.vendor-profile-basic {
    border: 1px solid #cacaca;
    margin: 0 0 1.25rem;
    padding: 1.25rem;
    background: #fefefe;
    box-shadow: 0 3px 6px #999, 0 3px 6px #999;
    background-color: seashell;
  }
  .vendor-profile-basic .vendor-profile-basic-intro .vendor-profile-basic-intro-pic {
    border-radius: 10%;
    margin: 0 0 1.25rem;
  }

  .vendor-profile-basic-more {
      padding-left: 50px;
  }
  .vendor-profile-basic-name {
      text-align: center;
  }
  /*------------ Vendor Products and Contact Info ---------------*/
  .box {
    border: 1px solid #cacaca;
    margin: 0 0 1.25rem;
    padding: 1.25rem;
    background: #fefefe;
    box-shadow: 0 3px 6px #999, 0 3px 6px #999;
    background-color: seashell;
  }
  /*------------ Footer ------------------------------*/
  .vendor-footer {
    border: 1px solid #cacaca;
    margin: 0 0 1.25rem;
    padding: 2rem;
    background: #fefefe;
    box-shadow: 0 3px 6px #999, 0 3px 6px #999;
    background-color: seashell;
  }
  .card-body{
      margin-top: 10px;
  }
  